@import url('/fonts/Roboto.css');
@import url('/fonts/TTRuns.css');

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: bold;
}

h2 {
	margin: 1.2em 0 1em;
	font-style: italic;
}

pre {
	padding: 1.2em 2em;
}

code {
	padding: inherit;
}

pre code {
	padding: 0;
	background-color: inherit;
}

/* Font Family - Roboto */

.ff-roboto--black {
	font-weight: 900;
}

.ff-roboto--black-italic {
	font-weight: 900;
	font-style: italic;
}

.ff-roboto--Bold {
	font-weight: 700;
}

.ff-roboto--Bold-italic {
	font-weight: 700;
	font-style: italic;
}

.ff-roboto--medium {
	font-weight: 500;
}

.ff-roboto--medium-italic {
	font-weight: 500;
	font-style: italic;
}

.ff-roboto--regular {
	font-weight: 400;
}

.ff-roboto--regular-italic {
	font-weight: 400;
	font-style: italic;
}

.ff-roboto--light {
	font-weight: 300;
}

.ff-roboto--light-italic {
	font-weight: 300;
	font-style: italic;
}

.ff-roboto--thin {
	font-weight: 100;
}

.ff-roboto--thin-italic {
	font-weight: 100;
	font-style: italic;
}

/* =========================== */
/* Font Family - TT Runs Trial */
/* =========================== */

.ff-ttruns-trial--black {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 900;
}

.ff-ttruns-trial--black-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 900;
}

.ff-ttruns-trial--extra-bold {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 800;
}

.ff-ttruns-trial--extra-bold-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 800;
}

.ff-ttruns-trial--bold {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.ff-ttruns-trial--bold-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 700;
}

.ff-ttruns-trial--demi-bold {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 600;
}

.ff-ttruns-trial--demi-bold-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 600;
}

.ff-ttruns-trial--medium {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 500;
}

.ff-ttruns-trial--medium-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 500;
}

.ff-ttruns-trial--regular {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.ff-ttruns-trial--italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 400;
}

.ff-ttruns-trial--light {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 300;
}

.ff-ttruns-trial--light-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 300;
}

.ff-ttruns-trial--extra-light {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 200;
}

.ff-ttruns-trial--extra-light-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 200;
}

.ff-ttruns-trial--thin {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: normal;
	font-weight: 100;
}

.ff-ttruns-trial--thin-italic {
	font-family: 'TT Runs Trial', sans-serif;
	font-style: italic;
	font-weight: 100;
}

/* ===================== */
/* TT Runs Black Outline */
/* ===================== */

.ff-ttruns-outline--black {
	font-family: 'TT Runs Black Outline', sans-serif;
	font-style: normal;
	font-weight: 900;
}

.ff-ttruns-outline--black-italic {
	font-family: 'TT Runs Black Outline', sans-serif;
	font-style: italic;
	font-weight: 900;
}

/* TT Runs Trial Variable Roman */

.ff-ttruns-variable--roman {
	font-family: 'TT Runs Trial Variable Roman', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.ff-ttruns-variable--roman-italic {
	font-family: 'TT Runs Trial Variable Italic', sans-serif;
	font-style: italic;
	font-weight: 400;
}
