<section id="skills" class="container">
    <h2>Skills</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem doloremque ab temporibus, quod ullam minus officia sint? Odio, nihil eveniet aut exercitationem, quia eligendi nam alias iure amet quibusdam molestias?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam similique maiores voluptas! Totam maxime excepturi odit, laborum ea ipsum voluptatum beatae dolorum aut, nisi quis perferendis numquam magni commodi nostrum exercitationem voluptates dolores deleniti sequi. Iusto nemo quisquam, quis laborum dolor nihil repudiandae est, dolores delectus aliquam ad maxime id sunt voluptate. Quasi dolore ipsum quo quod sit! Quibusdam aspernatur unde fuga doloremque! Vitae aliquam voluptates numquam qui praesentium perferendis dolorum culpa repellendus maiores unde, libero voluptas impedit, laborum dolor sapiente obcaecati fugiat esse sed eligendi quia! Deleniti harum neque assumenda ad laborum odit aliquam adipisci, sequi ab quibusdam magni!</p>
    <div class="progress-wrap">
        <div class="progress-circle">
            <span class="skill-circle">HTML</span>
            <svg class="progress-bar" width="150px" height="150px" viewBox="0 0 200 200">
                <circle class="progress" cx="100" cy="100" r="90" />
                <!-- <text x="100" y="100" text-anchor="middle"><tspan>HTML & CSS & JavaScript & Java</tspan></text> -->
            </svg>
        </div>

        <div class="progress-circle">
            <span class="skill-circle">CSS</span>
            <svg class="progress-bar" width="150px" height="150px" viewBox="0 0 200 200">
                <circle class="progress" cx="100" cy="100" r="90" />
            </svg>
        </div>

        <div class="progress-circle">
            <span class="skill-circle">JavaScript</span>
            <svg class="progress-bar" width="150px" height="150px" viewBox="0 0 200 200">
                <circle class="progress" cx="100" cy="100" r="90" />
            </svg>
        </div>
    </div>
</section>