<section id="head-carousel" class="head-carousel container">
    <h2>Slider1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit molestiae nihil nobis, ea cupiditate illum libero ab atque at placeat. Sit ex aut, at odit deleniti tempore corrupti laboriosam ipsa!</p>

    <div class="slick-wrap">
        <div class="slick-carousel">
            <div class="slick-slide">your content</div>
            <div class="slick-slide">your content</div>
            <div class="slick-slide">your content</div>
            <div class="slick-slide">your content</div>
            <div class="slick-slide">your content</div>
            <div class="slick-slide">your content</div>
        </div>
        <div class="slick-carousel__arrow-prev"><i class="gg-chevron-double-left"></i></div>
        <div class="slick-carousel__arrow-next"><i class="gg-chevron-double-right"></i></div>
    </div>
</section>