<section id="head-carousel" class="head-carousel">
    <div class="head-carousel__mask"></div>
    
    <div class="container">
        <div class="slick-wrap">
            <div class="slick-carousel">
                <div class="slick-slide">
                    <div class="slick-slide__content">
                        <h3 class="slick-slide__title">Кто такой Frontend разработчик?</h3>
                        <p>Специалист, занимающийся разработкой визуальной части web-сайта, SPA или програмного обеспечения.</p>
                        <p>Визуальная часть, так же использует аббревиатуру <b>UI</b> - User Interface, "Пользовательский интерфейс", складывается из разработки базовой разметки, создания элементов (кнопки, формы, карусели, выпадающие списки и пр.), реализации механики взаимодействия пользователя с интерфейсом (анимации, обработка взаимодействий).</p>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="slick-slide__content">
                        <h3 class="slick-slide__title">Чем занимается Frontend разработчик?</h3>
                        <p>Фронтенд-разработчик превращает дизайн-макет, созданный дизайнером, в рабочий пользовательский интерфейс.</p>
                        <p>Разработчик может получать пользовательские данные, обрабатывать их, использовать (в основном для преобразования интерфейса), а так же передавать данные на бэкенд.</p>
                    </div>
                </div>
            </div>
            <div class="slick-carousel__arrow-prev"><i class="gg-chevron-double-left"></i></div>
            <div class="slick-carousel__arrow-next"><i class="gg-chevron-double-right"></i></div>
        </div>
    </div>
</section>