footer {
    h2 {
        margin-top: 0.8rem;
        margin-bottom: 0.5rem;
    }

    hr {
        height: 0;
        margin: 0 auto;
        background-color: var(--bgc-footer);

        margin-top: 0.2rem;
        margin-bottom: 0rem;
        border: 0;
        border-top: 1px solid var(--secondary-color);
    }
}

// Стилизация навигационной панели в подвале
footer .site-map ul.nav-bar {
    align-items: flex-start;
    margin: 0;
}

// .notice {
//     padding: 1rem 0;
// }

html[data-theme="dark"] .copyright .apol-logo {
    filter: invert(1);
}
