<!-- <ul class="nav-bar ai-center">
    {{ range .Site.Menus.header }}
    <li><a class="underline-animate nav-menu-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
    {{ end }}
</ul> -->

<!-- <ul class="nav-bar ai-center">
    {{ $currentPage := . }}
    {{ range .Site.Menus.header }}
    <li><a class="underline-animate nav-menu-link {{if or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }}nav-menu__active{{end}}" 
        href="{{ .URL | absLangURL }}" 
        title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
</ul> -->

<!-- Добавлена проверка "Является ли страницы Главной" -->
<ul class="nav-bar ai-center">
    {{ $currentPage := . }}

    <!-- {{ $isHome := false }}
    {{ if $currentPage.IsHome }}
        {{ $isHome = true }}
    {{ end }}
    {{ $isHome }} -->
    
    {{ range .Site.Menus.header }}
    
        {{ if and (not $currentPage.IsHome) (not .Params.onlyHome) }}
            <li><a class="underline-animate nav-menu-link {{if or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }}nav-menu__active{{end}}" 
                href="{{ .URL | absLangURL }}" 
            title="{{ .Title }}">{{ .Name }}</a></li>
        {{ end }}

    {{ end }}
</ul>

<!-- <ul class="nav-bar ai-center">
    {{ $currentPage := . }}
    {{ range .Site.Menus.header }}
        {{ if .HasChildren }}
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a class="underline-animate nav-menu-link" href="#">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
            <ul class="sub-menu">
                {{ range .Children }}
                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a class="underline-animate nav-menu-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            <li>
                <a class="underline-animate nav-menu-link" href="{{ .URL | absLangURL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul> -->