<!-- "Scripts" -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="js/full-page/fullpage.min.js"></script> -->

<!-- jQuery UI -->
<script src="js/libs/jquery-ui/jquery-ui.min.js"></script>
<!-- jQuery UI SelecMenu init-->
<script src="js/components/select-menu.js"></script>

<!-- Slick Slider Scripts -->
<script src="js/libs/slick-1.8.1/slick.min.js"></script>

<!-- Fixed Scroll Offest -->
<!-- <script src="js/actions/fixGlobalScrollOffset.js"></script> -->


<script type="module" src="js/modules.js"></script>
<script src="js/script.js"></script>

<!-- end: "Scripts" -->