<!-- Full Page -->
<!-- <link rel="stylesheet" href="css/full-page/fullpage.min.css"> -->

<!-- CSS.gg -->
<link rel="stylesheet" href="css/cssgg/all.css">

<!-- Slick Slider Styles -->
<link rel="stylesheet" type="text/css" href="css/slick-1.8.1/slick.css">
<link rel="stylesheet" type="text/css" href="css/slick-1.8.1/slick-theme.css"/>

<!-- Styles -->
<!-- <link rel="stylesheet" href="{{.Permalink}}/css/style.css"> -->
{{ $sass := resources.Get "sass/root.scss" | resources.ToCSS (dict "targetPath" "css/style.css") }}
<link rel="stylesheet" href="{{ $sass.Permalink }}">