/*
	Размер шрифта
	Сброс стилей списка
	Закругление всех углов блока
	Закругление каждого отдельного угла блока
	Тень блока
	Тень текста
	Множественная тень текста
	Плавный переход (transition)
	Трансформации (transform)
	Центрирование элемента по горизонтали
	Добавление многоточия для переполнения текста
	Вертикальное выравнивание для inline блока
	Поведение при наведении на ссылку (a:hover, a:focus)
	Псевдо элементы ::before и ::after
	Отзывчивое соотношение
*/

// Размер шрифта
// Использование: @include fsz(32px);
@mixin fsz($size) {
	font-size: $size;
}

// clearfix
// пример: @include cfx;
@mixin cfx {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	* html & { height: 1px }
}

// Сброс параметров списка
// Использование: @include ul-clear;
@mixin ul-clear {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Закругление всех углов блока
// Использование: @include br(6px);
@mixin br($rad) {
	-webkit-border-radius: $rad;
	-moz-border-radius: $rad;
	-ms-border-radius: $rad;
	border-radius: $rad;
}

// Закругление каждого отдельного угла блока
// Использование: @include b-radius(10px, 0, 10px, 0);
@mixin b-radius($p1, $p2, $p3, $p4) {
	-webkit-border-radius: $p1 $p2 $p3 $p4;
	-moz-border-radius: $p1 $p2 $p3 $p4;
	-ms-border-radius: $p1 $p2 $p3 $p4;
	border-radius: $p1 $p2 $p3 $p4;
}

// Тень блока
// Использование: @include bsh(1px, 1px, 3px, 0, gray, inset);
@mixin bsh($top, $left, $blur, $size, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $size $color;
		-moz-box-shadow:inset $top $left $blur $size $color;
		box-shadow:inset $top $left $blur $size $color;
		} @else {
			-webkit-box-shadow: $top $left $blur $size $color;
			-moz-box-shadow: $top $left $blur $size $color;
			box-shadow: $top $left $blur $size $color;
		}
}

// Тень текста
// Использование: @include ts(1px, 1px, 3px, yellow);
@mixin ts($x, $y, $blur, $color) {
	text-shadow: $x $y $blur $color;
}

// Множественная тень текста
// Использование: @include text-shadow(3px 3px 2px red, 5px 5px 3px blue);
@mixin text-shadow($shadows...) {
	text-shadow: $shadows;
}

// Плавный переход (transition)
// Использование: @include transit(color, 0.2s, ease-in-out);
@mixin transit($what:all, $when:0.25s, $how:ease) {
	-webkit-transition: $what $when $how;
	-moz-transition: $what $when $how;
	-ms-transition: $what $when $how;
	-o-transition: $what $when $how;
	transition: $what $when $how;
}

// Трансформации (transform)
// Использование: @include transform(translate(-50%, -50%))
@mixin transform($options...) {
	-webkit-transform: $options;
	-moz-transform: $options;
	-ms-transform: $options;
	-o-transform: $options;
}

// Добавление многоточия для переполнения текста
// Усечение при переполнении текста
// Применять к текстовым тегам: "span" "p" и пр.
// Использование: @include truncate(300px);	
@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Центрирование элемента по горизонтали
// Использование: @include m-auto;
@mixin m-auto {
	margin: {
		left: auto;
		right: auto;
	}
}

// Вертикальное выравнивание для inline блока
// Использование: @include vertical;
@mixin vertical {
	text-align: center;
	font-size: 0;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
}

// Flex выравнивание по центру блока
// Использование: @include flex-main-center;
@mixin flex-main-center {
	align-items: center;
	justify-content: center;
}

// Поведение при наведении на ссылку
// Использование: @include link-hover(none, $color);
@mixin link-hover($under: none, $color: lightblue) {
	&:hover, &:focus {
		text-decoration: $under;
		color: $color;
	}
}

// Псевдо элементы ::before и ::after
// Использование: @include pseudo(inline-block, relative, 'text');
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

// Отзывчивое соотношение
// Миксин нужен для сохранения масштабирования при изменении размеров блока
// Например, это удобна для сохранения соотношения блока с видео
// Использование: @include responsive-ratio(16, 9);
@mixin responsive-ratio($x, $y, $pseudo: false) {
	$padding: unquote(( $y / $x ) * 100 + '%' );
	@if $pseudo {
		&:before {
			@include pseudo($pos: relative);
			width: 100%;
			padding-top: $padding;
		}
	} @else {
		padding-top: $padding;
	}
}

// Эффект при наведении
// пример: @include hov1;
// @mixin hov1 {
// 	&:hover {
// 		opacity: 0.8;
// 	}
// }
// @mixin hov2 {
// 	transition: all .2s ease-out;
// 	&:hover {
// 		opacity: 0.8;
// 		box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
// 		transition: all .2s ease-out;
// 	}
// }
