$padding: 1rem;
$font-size: 16px;

$header-height: 50px;

:root {
    --main-color: #202020;
    --secondary-color: #EBFFFA;
    --font-color: #0594cb;
    --font-color-hover: #96ccff;
    --bgc-footer: #999999;
    --bgc-copyright: #cee6f2;
}

