<footer id="footer" class="bgc__grey">
    <div class="container">
        <h2>Contacts</h2>
        <ul style="display:list-item">
            <li>Телефон: <a class="link-hover underline" href="tel:+79152068484">+7(915) 206-84-84</a></li>
            <li>Email: <a class="link-hover underline" href="mailto:test@mail.ru">test@mail.ru</a></li>
            <li><address>Адрес: Москва, Ленина, д.20, кв.34</address></li>
            <li>Social Links: </i><i class="social-icons link-hover fa-brands fa-instagram"></i><i class="social-icons link-hover fa-brands fa-vk"></i></li>
            <li>Github link: <a class="link-hover underline" href="https://github.com/anrepo/" target="_blank">github.com/anrepo/</a></li>
        </ul>
    </div>
</footer>