<header>
    <div class="container flex jc-between">
        <h1><a id="header-logo" href="./" title="Apol">APOL</a></h1>
        <div class="flex">
            <ul class="nav-bar ai-center">
                <li><a href="##">Home</a></li>
                <li><a href="##">About</a></li>
                <li><a href="##">Skills</a></li>
                <li><a href="##">Experience</a></li>
                <li><a href="##">Projects</a></li>
                <li><a href="##">Blog</a></li>
                <li><a href="##">Contacts</a></li>
            </ul>
            <select name="lang" id="lang" class="lang">
                <option value="ru">ru</option>
                <option value="en">en</option>
            </select>
        </div>
    </div>
</header>