<header class="sticky-menu">
    <div class="container d-flex jc-between">
        <a id="header-logo" class="header-logo" href="./">APOL</a>
        <div class="header-nav d-flex">
            <ul class="nav-bar ai-center">
                <li><a class="underline-animate nav-menu-link goToAnchor nav-menu__active" href="#head-carousel">Home</a></li>
                <li><a class="underline-animate nav-menu-link goToAnchor" href="#about">About</a></li>
                <li><a class="underline-animate nav-menu-link goToAnchor" href="#skills">Skills</a></li>
                <li><a class="underline-animate nav-menu-link" href="##">Experience</a></li>
                <li><a class="underline-animate nav-menu-link" href="##">Projects</a></li>
                <li><a class="underline-animate nav-menu-link" href="/blog">Blog</a></li>
                <li><a class="underline-animate nav-menu-link goToAnchor" href="#footer">Contacts</a></li>
            </ul>
            {{ partial "components/dropdown-lang.html" }}
            {{ partial "components/dark-light-button.html" }}
        </div>
    </div>
    {{ partial "components/reading-progress.html" }}
</header>